body {
    height: 100vw;
    width: 100%;
    background-image: url("../img/bg.png");
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 99% 150%;
}
.table {
	width: 60%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
	margin-left: 20%;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #EDEDED;
	font-size: 14px;
	border-top: 1px solid #ddd;
}
.table tr th:first-child, .table tr td:first-child {
	border-left: 1px solid #ddd;
}
.table tr th:last-child, .table tr td:last-child {
	border-right: 1px solid #ddd;
}
.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table tbody tr:nth-child(even) {
	background: #F8F8F8;
}
.table tbody tr:last-child td{
	border-bottom: 1px solid #ddd;
}
.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}
.users_options {
    width: calc(370px - 106px);
    height: 225px;
    background: #F6F7EB;
    float: left;
    margin-right: 30px;
    padding: 30px 53px 45px;
}


