.table-bloc {
    max-width: 900px;
    margin: 0 auto;
    padding-top: 100px;
}

.resp-tab {
    border-radius: 5px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
.resp-tab th, .resp-tab td {
    padding: 10px 20px;
    font-size: 13px;
    border: none;
    font-family: Verdana, sans-serif;   
    /* border: 1px solid #337AB7; */
    border: 1px solid #d89f4a;

    vertical-align: top;
}
.resp-tab th {
    color: #555;
    /* background: #337AB7; */
    background: -webkit-linear-gradient(top, rgba(254, 231, 154, 1) 0%, rgba(254, 193, 81, 1) 100%);
    font-weight: bold;
    /* border: 1px solid #1a4a73; */
    border: 1px solid #d89f4a;  
    text-transform: uppercase;   
    text-align: center;   
}
.resp-tab tr:nth-child(even) {
    /* background: #edf7ff; */
    background: #e9ddc8;

}
/* .resp-tab td span {
    background: #337AB7;
    background: #ffbb00;
    color: #FFF;
    display: none;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, sans-serif;   
    text-transform: uppercase;       
    padding: 5px 10px;
    position: absolute;
    top: 0;
    left: 0;   
} */
@media(max-width: 600px) {
    .resp-tab thead {
        display: none;
    }
    .resp-tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp-tab td {
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }
    .resp-tab td span {
        display: block;
    }
}
@media(max-width: 600px) {
    .resp-tab td {
        width: 100%;
    }

    .table-bloc {
padding-top: 20px;

    }

}